.widget {
  background: $light-blue;
  margin-bottom: $xl-size;
}

.widget__message {
  color: $off-white;
  padding: $l-size;
  text-align: center;
  margin: 0;
  border-bottom: 1px solid lighten($off-white, 10%);
}

.widget-header {
  background: $blue;
  color: $off-white;
  display: flex;
  justify-content: space-between;
  padding: $m-size;
}

.widget-header__title {
  margin: 0;
}